@import "../../../node_modules/katex/dist/katex.css";
@import "fonts.css";

html {
  /* TODO: necessary? */
  width: 100vw;
}

body {
  --accentPrimary: #D60909;
  --accentSecondary: #A06813;
  --fgPrimary: rgba(0,0,0,0.8);
  --fgSecondaryLarge: #908672;
  --fgSecondarySmall: #826D4E;
  --fgTertiary: #E2DCD2;
  --fgDisabled: #AAAAAA;
  --bgPrimary: #F9F6F1;
  --bgSecondary: #eeeae2;
  --bgContent: #fdfcfb;
  --hoverLayer: rgba(92, 56, 0, 0.05);
  --pressedLayer: rgba(92, 56, 0, 0.14);

  --selection: #F9EBD9;
  --selectionHover: #D6090926;

  --editSelection: #76a7e8;

  --fadeTransition: opacity 0.1s linear;
  --expoTiming: cubic-bezier(0.16, 1, 0.3, 1); /* or, rather, a simulation of it */

  /* TODO: necessary? */
  width: 100vw;
  overflow-x: hidden;
}

#demo-root *, .sb-show-main #root * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;

  /* The article page can use whatever it wants, but we'll lay out UI with border-box metrics. */
  box-sizing: border-box;
}

.katex {
  /* Shrink math rendering slightly to better visually align with our type styles. */
  font-size: 1.1em;
}

.baselineGrid {
  background-image: url(./../images/BaselineGrid.svg);
}
